header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#city {
    width: 70%;
    text-align: center;
    border: none;
    border-radius: 5px 5px 0 0;
    outline: none;
    height: 25px;
}

#city:hover {
    outline: solid #003C57;
}

#btn {
    width: 70%;
    height: 25px;
    border: none;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    margin-top: 3px;
}

#btn:hover {
    border: solid #003C57;
}

