main {
    display: flex;
    //justify-content: center;
    width: 100%;
    overflow: auto;
    section {
        width: 95%;
        text-align: center;
        background-color: rgb(240, 248, 255);
        margin: 2%;
        padding: 2% 0 2% 0;
        border-radius: 5px;
        border: none;
        @include mobile {
            width: 40%;
        }
        
        div {
            border: solid 1px;
            border-radius: 5px;
            margin: 1px;
            p {
                margin: 2px;
                height: 50px;
                width: 150px;
                
            }
        }
        
    }
}

#removeBtn {
    margin-top: 0%;
    margin-left: 95%;
    border: none;
}

#forecast {
    margin: 0;
    border: none;
    display: flex;
    flex-direction: row;
    overflow: auto;
    
}